.nav {
  /* flex box layout */
  display: flex;
 
  align-items: center;


  overflow: hidden;

  height: 100px;
  justify-content: center;

 

  
}

@keyframes color {
  0% {
    box-shadow: aqua;
  }
  20% {
    box-shadow: rgb(31, 52, 188);
  }
  40% {
    box-shadow: rgb(239, 106, 23);
  }
  60% {
    box-shadow: rgb(255, 6, 209);
  }
  80% {
    box-shadow: rgb(214, 255, 7);
  }
  100% {
    box-shadow: rgb(217, 61, 33);
  }
}

.logo {

  height: 200px;
  margin-top: 20px;
  color: #fff;

}



